<html>
  <head>
    <title>Portfolio</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{jsUrl}}/build/styles/app.css{{version}}"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
