<html>
  <head>
    <title>pt</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{jsUrl}}/build/styles/app.css{{version}}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet"/>
    <!--
      Some men aren't looking for anything logical, like money.
      They can't be bought, bullied, reasoned, or negotiated with.
      Some men just want to watch the world burn.
    -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
