{
    "extends": [
      "standard",
      "react"
    ],

    "rules": {
      "quotes": [
        0,
        "double"
      ],
      "semi": 0,
      "indent": [
        "error",
        2
      ]
    }
}
