{
    "extends": [
      "standard",
      "react"
    ],

    "rules": {
      "quotes": [
        0,
        "double"
      ],
      "quote-props": [
        0,
        "always"
      ],
      "semi": 0,
      "no-return-assign": 0,
      "indent": [
        "error",
        2
      ],
      "space-before-function-paren": [
        0,
        0,
        0
      ],

      "react/jsx-wrap-multilines": 0
    }
}
