body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: $secondaryBackgroundColor;
}

.container {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: $fullContainerWidth;

  &--full-width {
    width: 100%;
  }

  &__tabs {
    border-bottom: 1px solid $primaryColor;
    border-top: 1px solid $primaryColor;
    margin: auto;
    width: 100%;
  }

  &__narrow {
    margin: auto;
    width: 100%;
    max-width: $fullContainerWidth / 2;
  }
}

a {
  color: $linkColor;
  font-weight: 600;
  text-decoration: none;

  &.website {
    color: $secondaryLinkColor;
    font-weight: 500;
  }
}

hr {
  width: 100%;
  animation: sepWidth 2s 1s cubic-bezier(.77, 0, .175, 1) both;
  margin: 40px 0;
  will-change: width;
  visibility: visible;
}

p {
  font-family: $bodyFont;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.002em;
  line-height: 1.6em;
  margin-bottom: 10px;
  margin-top: 0;
}

time {
  color: $subTextColor;
  cursor: default;
  display: block;
  font-family: $primaryFont;
  font-size: 1em;
  text-transform: uppercase;
}

@keyframes sepWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
