body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $primaryFont;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: $fullContainerWidth;
}

a {
  text-decoration: none;
}

p {
  color: $textColor;
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.002em;
  line-height: 32px;
  margin-bottom: 10px;
  margin-top: 0;
}

time {
  color: $subTextColor;
  font-family: $primaryFont;
  text-transform: uppercase;
}
