body {
  background-color: $white;
  color: $textColor;
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: $fullContainerWidth;
}

a {
  color: $linkColor;
  font-weight: 600;
  text-decoration: none;
}

figure {
  margin: 0;

  figcaption {
    display: block;
    font-size: 11px;
    padding-top: 5px;
    text-align: left;
  }
}

p {
  color: $textColor;
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.002em;
  line-height: 32px;
  margin-bottom: 10px;
  margin-top: 0;
}

time {
  color: $subTextColor;
  cursor: default;
  display: block;
  font-family: $primaryFont;
  font-size: 15px;
  text-transform: uppercase;
}
