h1, h2, h3, h4, h5 {
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 {
  color: $headingColor;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  color: $textColor;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 10px;
  & > a {
    color: $textColor;
  }
}

h3 {
  color: $textColor;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  & > a {
    color: $textColor;
  }
}

h5 {
  color: $subTextColor;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 1px;
}
