h1, h2, h3, h4 {
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 {
  color: $headingColor;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  color: $textColor;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  & > a {
    border-bottom: 1px solid $borderColor;
    color: $textLinkColor;
  }
}

h5 {
  color: $subTextColor;
  font-family: $primaryFont;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 1px;
  & > a {
    border-bottom: 2px solid $textLinkColor;
    color: $textLinkColor;
  }
}
