h1, h2, h3, h4, h5 {
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5 {
  display: block;
  margin-top: 0;
  & > a {
    color: inherit;
  }
}

h1 {
  color: inherit;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

h2 {
  color: inherit;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 20px;
  text-transform: capitalize;
}

h3 {
  color: inherit;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  color: inherit;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 5px;
}

h5 {
  color: inherit;
  font-size: 0.8em;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding-left: 1px;
}
