$padding: 10px;

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  font-family: $bodyFont;
  text-align: left;
  width: 100%;

  thead {
    tr {
      th {
        color: $primaryColor;
        font-weight: 700;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $tableTdBorder;
    }
  }

  tr {
    td,
    th {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  time {
    display: block;
  }
}
