$padding: 10px;

table {
  border-collapse: collapse;
  font-family: $bodyFont;
  font-size: 14px;
  text-align: left;
  width: 100%;

  &.table {
    &--half-width {
      max-width: $fullContainerWidth / 2;
    }
  }

  thead {
    tr {
      border-bottom: 1px solid $tableThBorder;
      th {
        font-size: 16px;
        font-weight: 400;
        padding: $padding;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $tableTdBorder;
      td {
        border-left: 1px solid $tableTdBorder;
        padding: $padding;
        &:first-child {
          border-left-width: 0;
        }
      }
    }
  }

  time {
    display: block;
    text-align: center;
  }
}
