$padding: 10px;

table {
  border-collapse: collapse;
  box-shadow: 0 0 20px #EEE;
  font-family: $bodyFont;
  font-size: 14px;
  text-align: left;
  width: 100%;

  thead {
    tr {
      border-bottom: 1px solid $secondaryColor;
      th {
        font-weight: 600;
        text-transform: uppercase;
        padding: $padding;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #EEE;
      td {
        padding: $padding;
      }
    }
  }
}
