$contentWidth: ($fullContainerWidth / 2) * 1.5;

.content {
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
  max-width: $contentWidth;

  &__wrapper {
    background-color: $white;
    margin-bottom: 2px;
    padding: 0 40px 20px 0;
  }
}
