.data-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;

  &__item {
    background-color: $contentBackgroundColor;
    overflow: hidden;
    padding-top: 66%;
    position: relative;
    width: 100%;

    &__banner {
      bottom: 0;
      left: 0;
      padding: 20px;
      position: absolute;
      right: 0;
      top: 0;

      &__description {
        font-size: 20px;
        padding: 15px 20px;
      }
    }
  }
}
