header {
  background-color: $primaryColor;
  box-sizing: border-box;
  display: block;
  font-family: $primaryFont;
  letter-spacing: 0.075em;
  padding: 20px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: $fullContainerWidth;

    &__logo {
      padding-right: 20px;
      text-transform: uppercase;
    }

    &__navigation {
      padding-left: 20px;
      & > a {
        color: $secondaryColor;
        font-size: 18px;
        font-weight: bold;
        padding-right: 20px;
        text-transform: uppercase;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
