.header {
  align-items: center;
  display: flex;
  padding: 10px;

  &__logo {
    padding-right: 30px;
  }

  &__navigation {
    a {
      padding-right: 20px;
    }
  }
}

.logo-clip-path {
  clip-path:url(#logo-clip-path);
}
