header {
  background-color: $primaryColor;
  box-sizing: border-box;
  display: block;
  font-family: $bodyFont;
  letter-spacing: 0.075em;
  padding: 20px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: $fullContainerWidth;

    &__logo {
      padding-right: 20px;
      text-transform: uppercase;
      & > a {
        color: $white;
      }
    }

    &__navigation {
      padding-left: 20px;
      & > a {
        color: $white;
        font-size: 16px;
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
