.item {
  background-color: $itemBackground;
  border-radius: 5px;
  color: $backgroundColor;
  padding: 20px;

  a {
    color: $backgroundColor;

    &:hover {
      color: $linkColor;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    padding-bottom: 20px;

    &__avatar {
      padding-right: 20px;
    }

    &__title {
      h5 {
        margin-bottom: 0;
      }
    }
  }

  &__ideologies {
    &__controls {
      margin-top: 10px;
      padding-top: 10px;
      text-align: right;
    }
  }

  &--ideology {
    background-color: $ideologyBackground;
    color: $textColor;
  }

  &--publication {
    background-color: $publicationBackground;
  }

  &--section {
    background-color: $sectionBackground;
  }

  &--trend {
    background-color: $trendBackground;
    color: $textColor;

    a {
      color: $textColor;

      &:hover {
        color: $linkColor;
      }
    }
  }
}
