.item {
  background-color: $itemBackground;
  border-radius: 5px;
  color: $backgroundColor;
  padding: 20px;

  a {
    color: $backgroundColor;

    &:hover {
      color: $linkColor;
    }
  }

  &__avatar {
    padding-bottom: 20px;
  }

  &__details {
  }

  &--publication {
    background-color: $publicationBackground;
  }

  &--section {
    background-color: $sectionBackground;
  }

  &--trend {
    background-color: $trendBackground;
    color: $textColor;

    a {
      color: $textColor;

      &:hover {
        color: $linkColor;
      }
    }
  }
}
