.metric-list {

  &__item {
    &:before {
      background-color: $secondaryBackgroundColor;
      top: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 17px 0 15px;
    position: relative;

    &__left {
      align-items: center;
      display: flex;
      flex-grow: 1;
      padding-left: 20px;
      width: 100%;
      max-width: 300px;

      &__avatar {
        margin-right: 20px;

        a {
          img {
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            img {
              opacity: 0.5;
            }
          }
        }
      }

      &__name {
        font-size: 0.8em;
        font-weight: 700;

        a {
          &.website {
            display: block;
          }
        }
      }
    }

    &__right {
      box-sizing: border-box;
      flex-grow: 3;
      padding: 0 20px;

      &__grid {
        display: flex;

        &__item {
          &:before {
            color: $subTextColor;
            content: attr(data-label);
            display: block;
            font-size: 0.6em;
            padding-bottom: 3px;
            text-transform: uppercase;
          }

          flex-grow: 1;
          text-align: center;
        }
      }
    }
  }
}
