.news-item {
  background-color: $white;
  margin-bottom: 1px;
  padding: 20px 20px 10px;

  &__description {
    display: block;
    padding-bottom: 10px;
  }

  &__footer {
    display: flex;

    &__time {
      padding-right: 20px;
    }

    &__trends {
    }
  }
}
