.news-item {
  border-bottom: 1px solid $borderColor;
  color: $textColor;
  padding: 20px;

  &:first-child {
    border: 1px solid $borderColor;
    border-radius: 5px;
  }

  &__section {
    display: block;
    font-size: 0.9em;
    line-height: 1.3em;
    padding: 0 0 10px 0;
  }

  &__heading {
    padding: 0;
  }

  &__description {
    display: block;
    font-size: 0.9em;
    line-height: 1.3em;
  }

  &__publication {
    align-items: center;
    display: flex;
    font-size: 0.7em;
    padding-top: 15px;

    &__label {
      padding-right: 10px;
    }

    &__time {
    }
  }

  &__authors {
    font-size: 0.7em;
    padding-top: 15px;
  }

  &__trends {
    font-size: 0.7em;
    padding-top: 15px;

    a {
      display: inline-block;
      font-style: italic;
      line-height: 1.5em;
      white-space: nowrap;

      &:after {
        color: $borderColor;
        content: '//';
        padding: 0 7px;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
