.portfolio-list {
  column-count: 3;
  column-gap: 0;
  margin: auto;
  padding: 10px 0 40px;
  width: 100%;
  max-width: $fullContainerWidth;
  &__item {
    padding: $gutterWidth;
    &__content {
      background-color: $white;
      box-shadow: 0 1px 2em #DDDDDD;
      break-inside: avoid;
      &__description {
        padding: 20px;
      }
    }
  }
  @media screen and (max-width: $fullContainerWidth/2) {
    column-count: 2;
  }
  @media screen and (max-width: $fullContainerWidth/4) {
    column-count: 1;
  }
}
