.publication {
  &__banner {
    padding: 20px;

    &__content {
      margin: auto;
      max-width: $fullContainerWidth;

      &__heading {
        margin-left: 8.33333%;
        padding: 40px 0 20px;

        h1 {
          animation: fadein 3s ease both;
          animation-delay: .5s;
          letter-spacing: .175em;
          text-transform: uppercase;
          visibility: visible;
          will-change: opacity;
          word-spacing: 9999px;
        }
      }

      &__blurb {
        p {
          max-width: $tablet;
        }
      }

      &__controls {
        a {
          color: $white;

          svg {
            animation: arrowBounce 3s infinite cubic-bezier(.77,0,.175,1) both;
            float: left;
            margin-right: 5px;
          }
        }
      }

      hr {
        max-width: $tablet;
      }
    }
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(20%);
  }
  65% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(20%);
  }
  75% {
    transform: translateY(1%);
  }
  80% {
    transform: translateY(20%);
  }
  85% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
