.rating {
  display: block;
  font-family: $primaryFont;
  font-weight: 500;
  text-decoration: none;

  &__metric {
    display: inline-block;

    &--difference {
      line-height: 25px;
      padding-left: 10px;
    }
    & > svg {
      float: left;
    }
  }
}
