.rating {
  display: block;
  font-family: $primaryFont;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;

  &__metric {
    display: inline-block;
    font-weight: 600;
    padding-left: 10px;

    &--difference {
      font-size: 16px;
      line-height: 25px;
      padding-left: 5px;
    }
    & > svg {
      float: left;
    }
  }
}
