.shell {
  border-bottom: 1px solid $borderColor;
  padding: 20px 0;
  width: 100%;

  &:last-child {
    border-bottom-width: 0;
  }

  &__content {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: $fullContainerWidth;
  }
}
