.timeline {
  &__story {
    a {
      display: block;

      img {
        width: 100%;
        max-width: 200px;
      }
    }
  }

  &__controls {
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}
