$backgroundColor: #FFFFFF;
$primaryColor: #DFC228;
$secondaryColor: #000000;
$white: #FFFFFF;

:export {
  backgroundColor: $backgroundColor;
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  white: $white;
}
