$backgroundColor: #FFFFFF;
$primaryColor: #026FC9;
$secondaryColor: #000000;
$borderColor: #D1D3D4;
$headingColor: #0F0F0F;
$boxShadowColor: #0F0F0F;
$linkColor: #026FC9;
$textColor: #333333;
$textLinkColor: #3C3B3B;
$subTextColor: #999999;
$tabUnselected: #F0F0F0;
$tableThBorder: #222222;
$tableTdBorder: #CDCDCD;
$ratingBarDefault: #F0F0F0;
$black: #000000;
$white: #FFFFFF;

:export {
  backgroundColor: $backgroundColor;
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  borderColor: $borderColor;
  headingColor: $headingColor;
  boxShadowColor: $boxShadowColor;
  linkColor: $linkColor;
  textColor: $textColor;
  textLinkColor: $textLinkColor;
  subTextColor: $subTextColor;
  tabUnselected: $tabUnselected;
  tableThBorder: $tableThBorder;
  tableTdBorder: $tableTdBorder;
  ratingBarDefault: $ratingBarDefault;
  black: $black;
  white: $white;
}
