$headingFont: 'Open Sans', sans-serif;
$primaryFont: 'Inconsolata', monospace;
$secondaryFont: 'Cantata One', 'Georgia', serif;

:export {
  headingFont: $headingFont;
  primaryFont: $primaryFont;
  secondaryFont: $secondaryFont;
}
