$bodyFont: -apple-system, BlinkMacSystemFont, Helvetica, Roboto, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Open Sans', sans-serif;
$primaryFont: 'Inconsolata', monospace;
$letterSpacing: 0.002em;

:export {
  bodyFont: $bodyFont;
  primaryFont: $primaryFont;
  letterSpacing: $letterSpacing;
}
